body{
    font-family: 'Ubuntu', sans-serif;
}
#banner{
    background-image: url("../imgs/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
